h3 Add customer

form(class="form" role="form" id="administration_add_form")
	div(class="form-group")
		label Company name: 
		input(class="form-control" type="text" placeholder="Name")
		<br>
		label Subscribed until:
		input(class="form-control" type="date" placeholder="Date")
		<br>
		label E-Mail
		input(class="form-control" type="email" placeholder="E-Mail")
		<br><br>
		button(type="button" class="btn btn-primary") Save
