h3 Add customer

form(class="form" role="form" id="administration_add_form")
	div(class="form-group")
		label Company name:
		input(class="form-control" type="text" placeholder="Name" id="company-name")
		br
		label Contact E-Mail:
		input(class="form-control" type="email" placeholder="E-Mail" id="contact-email")
		br
		br
		label IMAP E-Mail:
		input(class="form-control" type="email" placeholder="IMAP" id="imap-email")
		br
		label SMTP E-Mail:
		input(class="form-control" type="email" placeholder="SMTP" id="smtp-email")
		br
		label User:
		input(class="form-control" type="text" placeholder="User" id="user")
		br
		label Password:
		input(class="form-control" type="password" placeholder="Password" id="password")
		br
		span(id="error-message")
		br
		button(type="button" class="btn btn-primary" onclick="addCustomer()") Save
