extends private-layout

block content
	div(class="row")
		div(class="col-sm-3 col-md-3 col-lg-3")
			ul(class="nav nav-pills nav-stacked")
				li(class="active")
					a(href="/administration") Settings
				li
					a(href="/administration/agents") Agents
				li(class="dropdown")
					a(class="dropdown-toggle" data-toggle="dropdown" href="#")
						| Customers
						span(class="caret")
					ul(class="dropdown-menu" role="menu")
						for loop_customer in customers
							li
								a(href="/administration/customer/" + loop_customer.id)=loop_customer.name
				li
					a(href="/statistics") Statistic
				
							
		div(class="col-sm-9 col-md-9 col-lg-9")
