extends private-layout

block content
	div(class="row")
		div(class="col-sm-3 col-md-3 col-lg-3")
			ul(class="nav nav-pills nav-stacked")
				li(class="" id="settings_li")
					a(href="#" onclick="open_administration_settings()") Settings
				li(id="agents_li")
					a(href="#" onclick="open_administration_agents()") Agents
				li(class="dropdown" id="customers_li")
					a(class="dropdown-toggle" data-toggle="dropdown" href="#")
						| Customers
						span(class="caret")
					ul(class="dropdown-menu" role="menu")
						for loop_customer in customers
							li
								a(href="#" onclick="open_administration_customer(#{loop_customer.id})")=loop_customer.name
						li
							a(href="#" onclick="open_administration_customer_add()") 
								strong Add customer
				
							
		div(class="col-sm-9 col-md-9 col-lg-9" id="administration_content")
		
		
	
	script(src='/javascripts/ticketsystem.js')
	script.
		open_administration_settings();
		
