extends private-layout

block content
	div(class="row")
		div(class="col-sm-9 col-md-9 col-lg-9")
			div(class="row")
				div(class="col-sm-12 col-md-12 col-lg-12")
					h3 Company information
					p
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem. Ut turpis felis, pulvinar a semper sed, adipiscing id dolor. Pellentesque auctor nisi id magna consequat sagittis. Curabitur dapibus enim sit amet elit pharetra tincidunt feugiat nisl imperdiet. Ut convallis libero in urna ultrices accumsan. Donec sed odio eros. Donec viverra mi quis quam pulvinar at malesuada arcu rhoncus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In rutrum accumsan ultricies. Mauris vitae nisi at sem facilisis semper ac in est.
			div(class="row" style="margin-top: 10px;")
				div(class="col-sm-3 col-md-3 col-lg-3")
					span Your ticket assignments to you
					ul
						li Lorem Ipsum
						li Lorem Ipsum
						li Lorem Ipsum
						li Lorem Ipsum
						li Lorem Ipsum
				div(class="col-sm-3 col-md-3 col-lg-3")
					span Last updates of your assigned tickets
					ul
						li Lorem Ipsum
						li Lorem Ipsum
						li Lorem Ipsum
						li Lorem Ipsum
						li Lorem Ipsum
				div(class="col-sm-3 col-md-3 col-lg-3")
					span Longest active not solved tickets
					ul
						li Lorem Ipsum
						li Lorem Ipsum
						li Lorem Ipsum
						li Lorem Ipsum
						li Lorem Ipsum
				div(class="col-sm-3 col-md-3 col-lg-3")
					span Latest general ticket updates
					ul
						li Lorem Ipsum
						li Lorem Ipsum
						li Lorem Ipsum
						li Lorem Ipsum
						li Lorem Ipsum
		div(class="col-sm-3 col-md-3 col-lg-3")
			ul
				li Lorem Ipsum
				li Lorem Ipsum
				li Lorem Ipsum
				li Lorem Ipsum
				li Lorem Ipsum
				li Lorem Ipsum
				li Lorem Ipsum
				li Lorem Ipsum
				li Lorem Ipsum
				li Lorem Ipsum
				li Lorem Ipsum
				li Lorem Ipsum
				li Lorem Ipsum
				li Lorem Ipsum
				li Lorem Ipsum
