extends private-layout

block content
	div(class="row")
		div(class="col-sm-9 col-md-9 col-lg-9")
			div(class="row")
				div(class="col-sm-12 col-md-12 col-lg-12")
					h3 Company information
					p=company_info
			div(class="row" style="margin-top: 10px;")
				div(class="col-sm-3 col-md-3 col-lg-3")
					span Your tickets
					ul
						for assignment in assignments
							li
								a(href="tickets/customer/" + assignment.customer_id + "?open_ticket=" + assignment.id)=assignment.caption
				div(class="col-sm-3 col-md-3 col-lg-3")
					span Last updates of your assigned tickets
					ul
						li Lorem Ipsum
						li Lorem Ipsum
						li Lorem Ipsum
						li Lorem Ipsum
						li Lorem Ipsum
				div(class="col-sm-3 col-md-3 col-lg-3")
					span Longest active not solved tickets
					ul
						li Lorem Ipsum
						li Lorem Ipsum
						li Lorem Ipsum
						li Lorem Ipsum
						li Lorem Ipsum
				div(class="col-sm-3 col-md-3 col-lg-3")
					span Latest general ticket updates
					ul
						li Lorem Ipsum
						li Lorem Ipsum
						li Lorem Ipsum
						li Lorem Ipsum
						li Lorem Ipsum
