extends layout

block content
	div(class="container-fluid" id="landing_content")
		div(class="row")
			h1=title
			p.
				Welcome to #{title}<br>
				We would like to offer you a unique and excellent support service.<br>
				Please log in to manage your tickets
			button(class="btn").
				Login
