doctype html
html
	head
		title=title
		
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(http-equiv='content-type', content='#{contentType}; charset=UTF-8')
		
		script(src='/javascripts/jquery-2.1.1.min.js')
		script(src='/javascripts/bootstrap.min.js')
		
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
	
		block navbar
		
		block content
