extends layout

block content
	h2 Passwort zurücksetzen
	<br><br>
	
	
	
	form(class="form" role="form")
		div(class="form-group")
			label Geben Sie bitte Ihre E-Mail-Adresse an. Ein neues Passwort wird Ihnen zugeschickt.
			input(type="email" class="form-control" placeholder="E-Mail")
			<br><br>
			button(type="button" class="btn btn-primary btn-lg") Senden
