extends layout

block content
	div(class="row")
		div(class="col-sm-12 col-md-12 col-lg-12")
			h2 Passwort zurücksetzen
			<br><br>



			form(class="form" role="form" id="send_new_password_form")
				div(class="form-group")
					label Please insert your email. We will send a new password to you.
					input(type="email" class="form-control" placeholder="E-Mail" name="email")
					<br><br>
					button(type="button" class="btn btn-primary btn-lg" onclick="sendNewPassword()") Senden

	script(src='/javascripts/functions.js')
